/* ======= Print ======= */

@media print {
  @page {
    size: A4;
    margin: 2cm;
  }

  body {
    font-size: 12pt;
    background: #fff;
    color: #000;
  }

  .wrapper {
    max-width: 100%;
    padding: 0;
  }

  .social-links {
    display: none;
  }

  .profile-header .avatar {
    filter: grayscale(1);
  }

  .project-card:hover {
    background-color: transparent;
  }

  a {
    color: #000;
    text-decoration: underline;
  }

  .footer {
    display: none;
  }
}
